@model IEnumerable<PersonelYonetimSistemi.Common.VModels.PersonelIsEmirleriVm>
@*@model PersonelYonetimSistemi.Common.PagingListModels.PaginatedList<PersonelYonetimSistemi.Common.VModels.PersonelIsEmirleriVm>*@
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<head>
    <style>
        .ortala {
            text-align: center;
        }
    </style>
</head>

<!-- Page Heading -->
<h1 style="text-align:center" class="h3 mb-3 text-gray-800">Personel İş Takibi Listesi</h1>
@await Component.InvokeAsync("Personeller")
<br />
<br />
<div class="card shadow mb-4">
    @*<div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>*@
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered dataTable" id="IsEmirleriTable" width="100%" cellspacing="0">
                <thead>
                    <tr class="ortala">
                        <th>İş Emri Numara</th>
                        <th>İş Emri Puan</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Güncelle</th>
                        <th>Detaylar</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr class="ortala">
                        <th>İş Emri Numara</th>
                        <th>İş Emri Puan</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Güncelle</th>
                        <th>Detaylar</th>
                        <th>Sil</th>
                    </tr>
                </tfoot>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                    <tr>
                        <td class="ortala">@item.IsEmriNumara</td>
                        <td class="ortala">@item.IsEmriPuan</td>
                        <td class="ortala">@item.OlusturulmaTarihi.ToShortDateString()</td>
                        <td>
                            <a style="margin-left:41%;" asp-controller="PersonelIsEmirleri" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-circle">
                                <i class="fas fa-check"></i>
                            </a>
                        </td>
                        <td>
                            <a style="margin-left:41%;" asp-controller="PersonelIsEmirleri" asp-action="Details" class="btn btn-info btn-circle">
                                <i class="fas fa-info-circle"></i>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-danger btn-circle btnRemove" style="color:white;margin-left:36%" data-id="@item.Id">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                        }
                    }
                </tbody>
            </table>

            <a asp-controller="PersonelIsEmirleri" asp-action="Create" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">İş Emri Ekle</span>
            </a>
        </div>
    </div>
</div>

<script src="~/astyle/vendor/jquery/jquery.min.js"></script>

@section Scripts{
    <script type="text/javascript">
        function Yenile() {
            location.reload();
        }
        $(document).ready(function () {
            $(".btnRemove").on("click", function () {
                var id = $(this).data("id");
                swal({
                    title: 'Silmek İstediğinize Emin Misiniz?',
                    text: 'Silinen Veri Geri Alınamaz!',
                    icon: 'warning',
                    buttons: true,
                    dangerMode: true,
                    buttons: ['İptal', 'Tamam']
                }).then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            type: "DELETE",
                            url: "/PersonelIsEmirleri/Delete/" + id,
                            success: function (data) {
                                if (data.success) {
                                    toastr.success(data.message);
                                    setTimeout(Yenile, 3000);
                                } else {
                                    alert('error');
                                    toastr.error(data.message);
                                }
                            }
                        });
                    }
                });
            });
        });

        $("#PersonelIsAtamaId").on("change", function () {

            var Id = $("#PersonelIsAtamaId").val();
            $.ajax({
                type: "DELETE",
                url: "/PersonelIsEmirleri/GetIsEmriByPersonelId/" + Id,
                success: function (veri) {
                    if (veri.basariliMi) {
                        alert("yeee");
                        window.location.href = "?personelId=" + Id;
                        toastr.success(veri.message);
                    } else {
                        toastr.error(veri.message);
                    }
                }
            });
        });
    </script>

}

