@model IEnumerable<PersonelYonetimSistemi.Common.VModels.PersonelIzinOnayVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<head>
    <style>
        .ortala {
            text-align: center;
        }
    </style>
</head>

<!-- Page Heading -->
<h1 style="text-align:center" class="h3 mb-3 text-gray-800">Personel İzin Talep Listesi</h1>
<div class="card shadow mb-4">
    @*<div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>*@
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr class="ortala">
                        <th>Talep Eden</th>
                        <th>İzin Başvuru Tarihi</th>
                        <th>Başlangıç Tarihi</th>
                        <th>Bitiş Tarihi</th>
                        <th>İzin Sebebi</th>
                        <th>Onayla</th>
                        <th>Reddet</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr class="ortala">
                        <th>Talep Eden</th>
                        <th>İzin Başvuru Tarihi</th>
                        <th>Başlangıç Tarihi</th>
                        <th>Bitiş Tarihi</th>
                        <th>İzin Sebebi</th>
                        <th>Onayla</th>
                        <th>Reddet</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="ortala">@item.IzinTalepEdenPersonel</td>
                            <td class="ortala">@item.IzinBasvuruTarihi.ToShortDateString()</td>
                            <td class="ortala">@item.IzinBaslangicTarihi.ToShortDateString()</td>
                            <td class="ortala">@item.IzinBitisTarihi.ToShortDateString()</td>
                            <td class="ortala">@item.IzinTipiMetin</td>
                            @if (item.OnayDurumu != PersonelYonetimSistemi.Common.ResultMesajModels.EnumPersonelIzinOnayDurum.Onaylandi)
                            {
                                <td>
                                    <a style="margin-left:34%;" class="btn btn-success btn-circle btnIzinOnayla" data-id="@item.Id">
                                        <i class="fas fa-check"></i>
                                    </a>
                                </td>
                                <td>
                                    <a style="margin-left:34%;" class="btn btn-danger btn-circle btnIzinReddet" data-id="@item.Id">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </td>
                                @*<td>
                                        <a class="btn btn-danger btn-circle btnRemove" style="color:white;margin-left:36%" data-id="@item.Id">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>*@
                            }
                        </tr>
                    }
                </tbody>
            </table>

            @*<a asp-controller="PersonelIzinOnay" asp-action="Create" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">İzin Talebi Ekle</span>
            </a>*@
        </div>
    </div>
</div>

@*<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>*@

<script src="~/astyle/vendor/jquery/jquery.min.js"></script>

@section Scripts{
    <script type="text/javascript">
        function Yenile() {
            location.reload();
        }
        $(document).ready(function () {
            $(".btnIzinOnayla").on("click", function () {
                var id = $(this).data('id');
                alert("id:" + id);
                swal({
                    title: 'Onaylamak İstediğinize Emin Misiniz?',
                    text: 'Onaylanan İzin Geri Alınamaz!',
                    icon: 'info',
                    buttons: true,
                    dangerMode: true,
                    buttons: ['İptal', 'Tamam']
                }).then((willEdit) => {
                    if (willEdit) {
                        $.ajax({
                            type: "POST",
                            url: "/PersonelIzinAtama/Onayla/" + id,
                            success: function (data) {
                                if (data.success) {
                                    toastr.success(data.message);
                                    setTimeout(Yenile, 3000);
                                } else {
                                    toastr.error(data.message);
                                }
                            }
                        });
                    }
                });
            });
        });
    </script>

    <script type="text/javascript">
        function Yenile() {
            location.reload();
        }
        $(document).ready(function () {
            $(".btnIzinReddet").on("click", function () {
                var id = $(this).data('id');
                alert("id:" + id);
                swal({
                    title: 'Reddetmek İstediğinize Emin Misiniz?',
                    text: 'Reddedilen İzin Geri Alınamaz!',
                    icon: 'info',
                    buttons: true,
                    dangerMode: true,
                    buttons: ['İptal', 'Tamam']
                }).then((willEdit) => {
                    if (willEdit) {
                        $.ajax({
                            type: "POST",
                            url: "/PersonelIzinOnay/Reddet/" + id,
                            success: function (data) {
                                if (data.success) {
                                    toastr.success(data.message);
                                    setTimeout(Yenile, 3000);
                                } else {
                                    toastr.error(data.message);
                                }
                            }
                        });
                    }
                });
            });
        });
    </script>

}

